@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root {
    --l-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --l-s-blue: hsl(252, 100%, 67%);
    --l-r-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --d-g-blue: hsl(224, 30%, 27%);

    --principal-font: 'Hanken Grotesk', sans-serif;
} 

/* GLOBALS */
html  {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after { box-sizing: inherit; }
h1, h2, h3 {
    margin: 0;
}
